<% @comedians.each do |comedian| %>
<section class="<%= comedian.name.downcase %>">
  <%= tag.h3 "Name: #{comedian.name}" %>
  <%= image_tag comedian.image_url, alt: "#{comedian.name.downcase}-image" %>
  <%= tag.p "Age: #{comedian.age}" %>
  <%= tag.p "City: #{comedian.city}" %>
  <%= tag.h4 "#{comedian.name}'s TV Specials:'" %>
  <% comedian.tv_specials.each do |special| %>
  <%= tag.p "#{special.name} (#{special.run_time} mins)" %>
  <% end %>
</section>
<% end %>
